.header {
	width: 10rem;
	height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.header::after {
	content: '';
	display: block;
	height: calc(100% + 4rem);
	width: 0.06rem;
	background: var(--bg-secondary);
	position: absolute;
	top: -2rem;
	right: 0;
}
.logo {
	cursor: pointer;
	margin-top: .16rem;
	margin-bottom: 6rem;
}
.logo {
	font-size: 1.3rem;
	color: var(--primary);
	transition: .2s;
}
.logo:hover,
.logo:focus {
	color: var(--title);
}
.nav {
	flex: 1;
}
.nav > ul > li > a {
	color: #7f7d84;
	font-size: 1.06rem;
	margin-bottom: .9rem;
	cursor: pointer;
	transition: .2s;
}
.nav > ul > li:hover > a {
	color: var(--title);
	letter-spacing: .3px;
}
.credit i {
	color: var(--border);
	font-size: .6em;
}
.credit q {
	color: var(--title);
	font-size: .9em;
	transition: .2s;
}
.credit:hover q {
	color: var(--primary);
}
