.container {
	display: flex;
	gap: 2rem;

}
.form {
	display: flex;
	flex-direction: column;
}
.result {
	display: flex;
	flex-direction: column;
}
.result div {
	width: 14rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .6rem 0;
	margin-bottom: 1rem;
	border-radius: 8px;
	background: var(--primary);
}
.result div p {
	margin-bottom: .2rem;
	font-size: .8rem;
	color: var(--bg);
	opacity: 70%;
}
.result div span {
	font-weight: 700;
	color: var(--bg);
}
