.container {
	display: flex;
	gap: 2rem;

}
.form {
	display: flex;
	flex-direction: column;
	width: 14rem;
}
.result {
	display: flex;
	flex-direction: column;
}
.result > div {
	width: 14rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .6rem 0;
	margin-bottom: 1rem;
	border-radius: 8px;
	background: var(--primary);
}
.result > div > p {
	margin-bottom: .2rem;
	font-weight: 500;
	font-size: .8rem;
	color: #000;
	opacity: 60%;
}
.result > div > span {
	font-weight: 700;
	color: #000;
}
