@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nixie+One&family=Roboto:wght@300;400;500;700;900&display=swap');
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video, input, textarea, select {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
	text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
	display:block;
}
body {
	line-height:1;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}
del {
	text-decoration:line-through;
}
hr {
	background:transparent;
	border:0;
	clear:both;
	color:transparent;
	height:1px;
	margin:0;
	padding:0;
}
mark {
	background-color:#ffffb3;
	font-style:italic
}
input, select {
	vertical-align:middle;
}
ins {
	background-color:red;
	color:white;
	text-decoration:none;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* End reset css */
:root {
	/* Colors */
	--primary: #6754D7;
	--secondary: #4A2AFF;
	--title: #E2E0E5;
	--border: #7f7d84;
	--bg-primary: #201F26;
	--bg-secondary: #343238;
	--positive: #6DCE23;
	--alert: #FFB21D;
	--errors: #a82222;

	/* Typographies */
	--tpg-primary: 'Bebas Neue', cursive;
	--tpg-secondary: 'Nixie One', cursive;
	--tpg-text: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--tpg-text);
}
body {
  	background: var(--bg-primary);
}
h2, h3, h4, strong, i, span, p, label {
	color: var(--title);
}
button {
	font-family: var(--tpg-primary);
	font-weight: 700;
	letter-spacing: .1rem;
}
:focus-visible {
	outline: 3px solid var(--primary) !important;
}
.animeTop {
	opacity: 0;
	transform: translateY(-20px);
	animation: animeTop .3s forwards;
}
@keyframes animeTop {
	to {
		opacity: 1;
		transform: initial;
	}
}
.animeLeft {
	opacity: 0;
	transform: translateX(-20px);
	animation: animeLeft .9s .2s forwards;
}
@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}
