@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nixie+One&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
	/* Colors */
	--primary: #6754D7;
	--secondary: #4A2AFF;
	--title: #E2E0E5;
	--border: #6D6D6D;
	--bg-primary: #201F26;
	--bg-secondary: #343238;
	--positive: #6DCE23;
	--alert: #FFB21D;
	--errors: #A33B20;

	/* Typographies */
	--tpg-primary: 'Bebas Neue', cursive;
	--tpg-secondary: 'Nixie One', cursive;
	--tpg-text: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--tpg-text);
}
body {
  	background: var(--bg-primary);
}
h2, h3, span, p, label {
	color: var(--title);
	opacity: 75%;
}
button {
	font-family: var(--tpg-primary);
	font-weight: 700;
	letter-spacing: .1rem;
}
:focus-visible {
	outline: 3px solid var(--primary) !important;
}
.animeTop {
	opacity: 0;
	transform: translateY(-20px);
	animation: animeTop .3s forwards;
}
@keyframes animeTop {
	to {
		opacity: 1;
		transform: initial;
	}
}
.animeLeft {
	opacity: 0;
	transform: translateX(-20px);
	animation: animeLeft .3s forwards;
}
@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}
